<div class="flex items-center justify-center">

    <div class="title p-4 rounded-3xl shadow-lg text-3xl mt-20 bg-white">
       

        <div class="mb-2">

                <div class="imgarea" style="display:flex; justify-content:center;">
                    <img src="~/lib/image/nocontent.png" style="width: 200px; height:200px;">
                </div>
                <div class="footer">
                    <h1 class="text-3xl text-black">
                        <h1>Raporlama ekranı hazırlanmaktadır.</h1>
                    </h1>
                </div>
            </div>
    </div>
</div>