@using destek_kayit_sistemi.destek_kayit_sistemi.Domain.Entities
@model Users
@{
    Layout = "_OtherLayout";
}


<div class="fixed inset-0 w-screen h-screen overflow-hidden">
  <img src="~/lib/image/access_denied.png" 
       alt="Access Denied"
       class="w-full h-full object-cover"/>
</div>

