@using destek_kayit_sistemi.destek_kayit_sistemi.Domain.Entities
@model Users
@{
    Layout = "_OtherLayout";
}

<style>
   
</style>

<div class="access-denied-container">
    <div class="access-denied-card">
        <div class="image-container">
            <img src="https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExd2JtbjhjdGVqYmloMHRqMG9oeTg4dXN2N3JoN3VxYjZ4a3BnaWNqZCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/YBHJyPCU9h1VewdaPZ/giphy.gif"
                 class="access-denied-image" alt="Access Denied">
        </div>

        <div class="text-container">
            <h2 class="access-denied-title">
                Erişim Reddedildi
            </h2>
            <p class="access-denied-message">
                Ama buraya erişemezsin ki :O
            </p>
        </div>
        
        <div class="button-container">
            <a href="/" class="btn">
                Ana Sayfaya Dön
            </a>
        </div>
    </div>
</div>

